* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #85629F;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

/* Header */
header {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
}

header .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img {
    height: 150px;
    width: 150px;
}

header .gliscor2 {
    height: 120px;
    width: 170px;
}

header h1 {
    color: white;
    font-size: 3rem;
}

header nav {
    padding-left: 40px;
    width: 100%;
    height: 35px;
    background-color: #212121;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

main {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

main .poke_statistic,
main .desc_skills {
    width: 900px;
}


main .nome {
    font-size: 2rem;
}

main .poke_statistic {
    display: flex;
    gap: 40px;
}

main .pokemon {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #d9d9d9;
}

main .pokemon .shiny {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

main .pokemon .brilho {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

main .pokemon .foto {
    height: 400px;
    width: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .pokemon_div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .pokemon .foto img {
    height: 23rem;
    width: 23rem;
}

main .statistic {
    width: 300px;
    height: 200px;
    background-color: #d9d9d9;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

main .tipos{
    display: flex;
    gap: 10px;

}
main .tipos .tipo {
    display: flex;
    height: 35px;
    width: 100px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

main .statistic .stats {
    height: 150px;
    width: 250px;
    background-color: #fff;
    border: 4px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}



main .desc_skills {
    display: flex;
    gap: 40px;
}

main .div_descricao {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 500px;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
}

main .div_descricao .infos {
    background-color: #fff;
    width: 420px;
    height: 140px;
    border: 4px solid black;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

main .div_descricao .desc{
    width: 25rem;
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-right: 10px;
}

main .div_descricao .peso_alt{
    font-weight: 700;
}

main .habilidades {
    width: 300px;
    height: 200px;
    background-color: #d9d9d9;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

main .div_habil {
    height: 150px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    background-color: #fff;
    border: 4px solid black;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    text-align: center;

    p {

        padding: 30px;
    }
}



/* CORES DINÂMICAS */
/* background */
.fire { background-color: #F08030; }
.water { background-color: #6890F0; }
.grass { background-color: #78C850; }
.electric { background-color: #F8D030; }
.ice { background-color: #98D8D8; }
.fighting { background-color: #C03028; }
.poison { background-color: #A040A0; }
.ground { background-color: #E0C068; }
.flying { background-color: #A890F0; }
.psychic { background-color: #F85888; }
.bug { background-color: #A8B820; }
.rock { background-color: #B8A038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038F8; }
.dark { background-color: #705848; }
.fairy { background-color: #EE99AC; }
.normal { background-color: #A8A878; }
.steel { background-color: #B8B8D0; }

/* border */
.fire { border: 4px solid #F08030; }
.water { border: 4px solid #6890F0; }
.grass { border: 4px solid #78C850; }
.electric { border: 4px solid #F8D030; }
.ice { border: 4px solid #98D8D8; }
.fighting { border: 4px solid #C03028; }
.poison { border: 4px solid #A040A0; }
.ground { border: 4px solid #E0C068; }
.flying { border: 4px solid #A890F0; }
.psychic { border: 4px solid #F85888; }
.bug { border: 4px solid #A8B820; }
.rock { border: 4px solid #B8A038; }
.ghost { border: 4px solid #705898; }
.dragon { border: 4px solid #7038F8; }
.dark { border: 4px solid #705848; }
.fairy { border: 4px solid #EE99AC; }
.normal { border: 4px solid #A8A878; }
.steel { border: 4px solid #B8B8D0; }


main .stats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stats .nome{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Inter';
}

.barra {
  background-color: #d9d9d9;
  width: 190px;
  height: 13px;
  border-radius: 5px;
}

.valor {
  background-color: #4caf50;
  height: 100%;
  text-align: right;
  font-size: 12px;
  color: #fff;
  padding-bottom: 3px;
  padding-right: 4px;
  border-radius: 5px;
}


@media (max-width: 1200px) {

    main .poke_statistic,
    main .desc_skills {
    padding-left: 5rem;
    width: 900px;
}


    main .pokemon {
        height: 400px;
        width: 400px;
    }
    
    
    
    main .pokemon .foto {
        height: 300px;
        width: 300px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .pokemon_div{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    main .pokemon .foto img {
        height: 20rem;
        width: 20rem;
    }
    
    main .desc_skills {
        display: flex;
        gap: 40px;
    }
    
    main .div_descricao {
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        width: 400px;
        height: 200px;
        padding-top: 10px;
        padding-left: 20px;
    }
    
    main .div_descricao .infos {
        background-color: #fff;
        width: 360px;
        height: 140px;
        border: 4px solid black;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    
    main .div_descricao .desc{
        width: 22rem;
        overflow-wrap: break-word;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width: 900px) {

    
    main .poke_statistic,
    main .desc_skills {
    padding-left: 10px;   
    width: 700px;
    }


    main .pokemon {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 380px;
        width: 380px;
        background-color: #d9d9d9;
    }
    
    
    
    main .pokemon .foto {
        height: 280px;
        width:280px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .pokemon_div{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    main .pokemon .foto img {
        height: 16rem;
        width: 16rem;
    }
    
    main .desc_skills {
        display: flex;
        gap: 40px;
    }
    
    main .div_descricao {
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        width: 380px;
        height: 200px;
        padding-top: 10px;
        padding-left: 20px;
    }
    
    main .div_descricao .infos {
        width: 340px;
        height: 140px;
        font-size: 0.9rem;
    }
    

    
    main .habilidades {
    width: 270px;
}
    main .div_habil {
        width: 230px;
        font-size: 0.9rem;
    }

    main .statistic{
        width: 270px;
    }

    main .statistic .stats {
        height: 150px;
        width: 220px;
    }
}