* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    width: 100%;
    height: 160px;
    background-color: #85629F;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
}

header img {
    height: 80px;
    width: 80px;
}

.header-brand img {
    height: 120px;
    width: 120px;
}

header .header-top {
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 125px;
    justify-content: space-between;
}

header .header-brand {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 2rem;
    justify-content: center;
}

header nav {
    padding-left: 80px;
    width: 100%;
    height: 35px;
    background-color: #212121;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Main */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}

main .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .text h2 {
    font-size: 7rem;
    color: #85629F;
    font-family: 'Inter';
}

main .text p {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.8rem;
}

main button {
    width: 140px;
    height: 40px;
    font-size: 17px;
    background-color: #85629F;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Inter';
    font-weight: bold;
}

main img {
    height: 21rem;
    width: 25rem;
}

main .hero {
    display: flex;
    align-items: center;
    gap: 5%;
}

main .apresentation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    border: 1px solid black;
}
main .apresentation h2{
    background-color: #212121;
    color: white;
    padding: 10px;
    font-family: 'Inter';
    font-size: 1.4rem;
}
main .apresentation p{
    display: flex;
    align-items: center;
    height: 180px;
    background-color: #d9d9d9;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: bold;
}

/* Footer */
footer{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #85629F;
    color: white;
    font-family: 'Inter';
    font-weight: bold;

    p{
        padding: 30px;
    }
}

@media (max-width: 1200px) {
    main{
        padding-right: 50px;
    }
    main .text h2 {
        font-size: 5rem;
        color: #85629F;
        font-family: 'Inter';
    }

    
    main .text p {
        font-family: 'Inter';
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    main img {
        height: 18rem;
        width: 22rem;
    }

    main .hero {
        display: flex;
        align-items: center;
        gap: 10%;
    }
}

@media (max-width: 880px) {

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 100px;
    }
    main .text h2 {
        font-size: 4rem;
        color: #85629F;
        font-family: 'Inter';
    }

    main img {
        height: 12rem;
        width: 18rem;
    }
    
    main .text p {
        font-family: 'Inter';
        font-weight: bold;
        font-size: 1rem;
    }
    
    main .hero {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    main .apresentation p{
        display: flex;
        align-items: center;
        height: 180px;
        background-color: #d9d9d9;
        font-size: 0.8rem;
        line-height: 1.5;
        padding-left: 10px;
        font-family: 'Inter';
        font-weight: bold;
    }
}